<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MMORPG - Game of Thrones</title>
    <link rel="shortcut icon" href="images/got-icon.jpg" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body class="body-jogo">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="form-group sair">
          <button type="button" id="logout" class="btn btn-info pull-right">Sair</button>
        </div>
      </div>
    </nav>

      <div class="container">
        <% if(comando == 'S') { %>
          <div class="alert alert-danger erros"><b>ERRO! Preencha todos os campos</b></div>
        <% } %>
        <% if(comando == 'N') { %>
          <div class="alert alert-success sucesso"><b>Legal, ação realizada com sucesso!</b></div>
        <% } %>
        <div class="row">
          <div class="col-sm-3 casa">
            <img src="images/casa_<%=img_casa%>.jpg" />
          </div>

          <div class="col-sm-9">
            <div class="row barra-superior">
              <div class="col-sm-3"> 
                <img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
                <span id="valorTemor"><%= usuario.temor %></span>
              </div>
            
              <div class="col-sm-3"> 
                <img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
                <span id="valorSabedoria"><%= usuario.sabedoria %></span>
              </div>
            
              <div class="col-sm-3"> 
                <img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
                <span id="valorComercio"><%= usuario.comercio %></span>
              </div>
            
              <div class="col-sm-3"> 
                <img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
                <span id="valorMagia"><%= usuario.magia %></span>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="acoes" id="acoes">
              Senhor, o que deseja fazer hoje?
            </div>					
          </div>
        </div>
      
      </div>	
    
      <div class="barra-inferior">
        <div class="container">
        
          <div class="row">
            <div class="col-sm-1">
              <img src="images/outros/suditos.jpg" class="imgs" id="btn_sud" title="Aldeões" alt="Aldeões"/>
              <span><%= usuario.moeda %></span>
            </div>
            
            <div class="col-sm-1">
              <img src="images/outros/pergaminho.jpg" class="imgs" id="btn-per" title="Pergaminhos" alt="Pergaminhos"/>
            </div>
            
            <div class="col-sm-8"></div>
            
            <div class="col-sm-2">
              <img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
              <span><%= usuario.suditos %></span>
            </div>
            
          </div>
        </div>
      </div>
    
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/functions.js"></script>
    
  </body>
</html>